name: docker

on:
  workflow_call:
    inputs:
      context:
        required: true
        type: string

env:
  IMG_TAG: 15.2-bullseye

jobs:
  build_img:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: get image name
        id: get_img_name
        run: |
          dir_name=$(basename "${{ inputs.context }}")
          img_name="${dir_name#"docker-"}"
          echo "img_name=${img_name}" >> "$GITHUB_OUTPUT"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        with:
          images: ghcr.io/${{ github.repository_owner }}/${{ steps.get_img_name.outputs.img_name }}
          labels:
            maintainer=sksat
          flavor: |
            latest=auto
          tags: |
            enable={{is_default_branch}},type=raw,value=${{ env.IMG_TAG }}
            enable={{is_default_branch}},prefix=${{ env.IMG_TAG }}-,type=sha
            enable={{is_default_branch}},prefix=${{ env.IMG_TAG }}-,type=sha,format=long
            prefix=${{ env.IMG_TAG }}-pr-,type=ref,event=pr

      - name: Login to ghcr.io
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@ca877d9245402d1537745e0e356eab47c3520991 # v6.13.0
        with:
          context: ${{ inputs.context }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
